@import "tailwindcss";
@import "./clamps.css";

@custom-variant dark (&:is(.dark *));

@theme static {
  --font-mono: Courier, "Courier New", monospace;
  --transition-duration-quick: 100ms;
  --transition-duration-slow: 2s;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-clamp-4 leading-normal text-foreground;
  }

  html {
    @apply font-sans;
  }
}
