*
!app/
!components/
!generic-configurables/
!lib/
!public/
!package.json
!package-lock.json
!next.config.ts
!tsconfig.json
!postcss.config.ts
!eslint.config.mts
**/.env*
**/*.pem
**/*.key
**/.DS_Store
